/* Page Grid Layout */
body {
    display: grid;
    grid-template-areas:
      "header header"
      "nav nav"
      "main aside"
      "footer footer";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    height: 100vh;
  }
  
  /* Header */
  header {
    grid-area: header;
    background-color: #333;
    color: white;
    padding: 1rem;
  }
  
  /* Navigation */
  nav {
    grid-area: nav;
    background-color: black;
  }
  
  nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 1rem 0;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  /* Main Section */
  main {
    grid-area: main;
    background-color: lightgray;
    padding: 1rem;
  }
  
  /* Aside Section */
  aside {
    grid-area: aside;
    background-color: white;
    padding: 1rem;
  }
  
  /* Footer */
  footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  