/* Large Screen Styles */
@media screen and (min-width: 800px) {
    /* Hide hamburger menu on large screens */
    .hamburger {
        display: none;
    }

    /* Show navigation menu on large screens */
    .nav-menu {
        display: flex;
        justify-content: center;
        margin: 1rem 0 0;
    }

    .nav-menu li {
        margin: 0 10px;
    }

    /* Temple Grid for Large Screens */
    .temple-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}